*{
margin: 0;
padding: 0;
box-sizing: border-box;

}

body{
    background-image: url("./imagenes1/fondo2.png");
    background-repeat: repeat-y;
    background-position: center;
    background-color: rgba(66, 103, 197, 0.805);
    text-align: center ;
    padding: 300px;


}
.titulo{
    color: rgb(255, 255, 255);
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url("./imagenes1/imagenfondo.jpg");
    background-color: black;
    opacity: 0.8;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.imagen1{
    width: 50px;
    height: 50px;

}
.contenido1 {
    background-color: rgba(36, 32, 152, 0.295);
    justify-content: center;
    align-items: center;
    border: 15px;
    color:azure;
    padding: 50px 10;
}
.textarea{
    width: 500px;
    padding: 20px 8px;

}
.desplazamiento{
    width: 50px;
    padding: 4px 4px;

}

button{
    background: linear-gradient(to bottom right, #cdef47, #5ad9ff);
      border: 0;
      border-radius: 12px;
      color: #FFFFFF;
      cursor: pointer;
      font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
      font-size: 16px;
      font-weight: 500;
      line-height: 2.5;
      outline: transparent;
      padding: 0 1rem;
      text-align: center;
      text-decoration: none;
      touch-action: manipulation;

    }






